<div class=" ">
    <!-- MOBILE HEADER -->
    <div class="header_mobile relative mb-20 flex flex-row items-center justify-between">
        <div class="absolute -mx-2.5 sm:-mx-10 h-96 w-[100vw] rounded-b-[30px] bg-violet-500"></div>
        <div class="menu text-white">
            <div class="grouping relative h-6 w-6">
                <input type="checkbox" class="peer absolute z-40 h-full w-full opacity-0" />
                <div
                    class="absolute -top-2 z-20 -mx-2.5 hidden h-[100vh] w-[100vw] bg-black bg-opacity-40 peer-checked:block">
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="z-30 h-7 w-7 peer-checked:hidden">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                    class="absolute top-0 z-30 hidden h-7 w-7 peer-checked:block">
                    <path fill-rule="evenodd"
                        d="M5.47 5.47a.75.75 0 011.06 0L12 10.94l5.47-5.47a.75.75 0 111.06 1.06L13.06 12l5.47 5.47a.75.75 0 11-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 01-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 010-1.06z"
                        clip-rule="evenodd" />
                </svg>
                <!-- SIDENAV -->
                <div
                    class="absolute -top-2 z-20 -ml-2.5 min-h-[100vh] w-0 bg-violet-500 transition-all peer-checked:w-[90vw]">
                </div>
                <!-- //SIDENAV -->
            </div>
        </div>
        <div class="logo h-10 w-20 border"></div>
        <div class="search z-10">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="h-6 w-6 text-white">
                <path fill-rule="evenodd"
                    d="M10.5 3.75a6.75 6.75 0 100 13.5 6.75 6.75 0 000-13.5zM2.25 10.5a8.25 8.25 0 1114.59 5.28l4.69 4.69a.75.75 0 11-1.06 1.06l-4.69-4.69A8.25 8.25 0 012.25 10.5z"
                    clip-rule="evenodd" />
            </svg>
        </div>
    </div>
    <!-- //MOBILE HEADER -->
    <!-- CAROUSEL -->
    <div class="swiper mySwiper md:w-[80vw]  h-fit relative ">
        <div class="swiper-wrapper mb-10 max-h-[400px]  ">
            <div class="swiper-slide   border bg-white rounded-lg ">
                <img src="https://mani-dev8.github.io/dynamicSol/banner_ds.png" alt="" srcset=""
                    class="banner1 max-h-[400px] max-w-[800px]  m-auto w-[90vw] rounded-lg " />
            </div>
            <div class="swiper-slide border bg-white rounded-lg ">
                <img src="https://mani-dev8.github.io/dynamicSol/banner_ds.png" alt="" srcset=""
                    class="banner1 max-h-[400px] max-w-[800px]  m-auto w-[90vw] rounded-lg " />
            </div>
            <div class="swiper-slide border bg-white rounded-lg ">
                <img src="https://mani-dev8.github.io/dynamicSol/banner_ds.png" alt="" srcset=""
                    class="banner1 max-h-[400px] max-w-[800px]  m-auto w-[90vw] rounded-lg " />
            </div>

        </div>

        <div class="swiper-pagination "></div>
    </div>
    <!-- //CAROUSEL -->



    <div class="px-2">

        <!-- OUR-SERVICES -->
        <div class=" mt-1">
            <h1 class="text-base sm:text-xl md:text-3xl font-semibold text-black mb-2 sm:mb-6 md:mb-10 ">
                Our Service
            </h1>
            <div class="grid grid-cols-3 gap-4 sm:grid-cols-4 md:grid-cols-5 md:gap-14">

                <button
                    class="flex shadow-md hover:bg-zinc-100 transition-all active:bg-zinc-100 hover:scale-110 border rounded-md pb-2 flex-col items-center justify-center">
                    <img src="https://cdn3d.iconscout.com/3d/premium/thumb/air-conditioner-5976258-4946626.png" alt=""
                        srcset="">
                    <span class="text-xs text-center ">Air conditioner Repair</span>
                </button>
                <button
                    class="flex shadow-md hover:bg-zinc-100 transition-all active:bg-zinc-100 hover:scale-110 border rounded-md pb-2 flex-col items-center justify-center">
                    <img src="https://cdn3d.iconscout.com/3d/premium/thumb/fix-bug-5152821-4315336.png" alt=""
                        srcset="">
                    <span class="text-xs text-center ">Computer and Laptop Repair</span>
                </button>
                <button
                    class="flex shadow-md hover:bg-zinc-100 transition-all active:bg-zinc-100 hover:scale-110 border rounded-md pb-2 flex-col items-center justify-center">
                    <img src="https://cdn3d.iconscout.com/3d/premium/thumb/online-service-5622715-4689008.png" alt=""
                        srcset="">
                    <span class="text-xs text-center ">
                        Smartphone and Tablet Repair</span>
                </button>
                <button
                    class="flex shadow-md hover:bg-zinc-100 transition-all active:bg-zinc-100 hover:scale-110 border rounded-md pb-2 flex-col items-center justify-center">
                    <img src="https://cdn3d.iconscout.com/3d/premium/thumb/computer-repair-6682990-5575861.png" alt=""
                        srcset="">
                    <span class="text-xs text-center ">Home Appliance Repair</span>
                </button>
                <button
                    class="flex shadow-md hover:bg-zinc-100 transition-all active:bg-zinc-100 hover:scale-110 border rounded-md pb-2 flex-col items-center justify-center">
                    <img src="https://cdn3d.iconscout.com/3d/premium/thumb/cozy-bed-room-6357660-5251971.png" alt=""
                        srcset="">
                    <span class="text-xs text-center ">Furniture Repair</span>
                </button>
            </div>
        </div>
        <!-- //OUR-SERVICES -->
        <!-- PLANS -->
        <div class=" mt-4">
            <h1 class="text-base sm:text-xl md:text-3xl font-semibold text-black mb-2 sm:mb-6 md:mb-10">
                Plans
            </h1>
            <div class="swiper mySwiper md:w-[80vw]  h-fit relative ">
                <div class="swiper-wrapper mb-10 max-h-[400px]  ">
                    <div class="swiper-slide   border bg-white rounded-lg ">
                        <img src="https://mani-dev8.github.io/dynamicSol/banner_ds.png" alt="" srcset=""
                            class="banner1 max-h-[400px] max-w-[800px]  m-auto w-[90vw] rounded-lg " />
                    </div>
                    <div class="swiper-slide border bg-white rounded-lg ">
                        <img src="https://mani-dev8.github.io/dynamicSol/banner_ds.png" alt="" srcset=""
                            class="banner1 max-h-[400px] max-w-[800px]  m-auto w-[90vw] rounded-lg " />
                    </div>
                    <div class="swiper-slide border bg-white rounded-lg ">
                        <img src="https://mani-dev8.github.io/dynamicSol/banner_ds.png" alt="" srcset=""
                            class="banner1 max-h-[400px] max-w-[800px]  m-auto w-[90vw] rounded-lg " />
                    </div>
                </div>
            </div>
        </div>
        <!-- //PLANS -->

        <!-- CUSTOMER REVIEW -->
            
        <!-- //CUSTOMER REVIEW -->
    </div>
</div>